.about {
  padding: 100px 20px;
  background: #f1f8e9;
  text-align: center;
}

.about h2 {
  color: #1b5e20;
  font-size: 2rem;
  margin-bottom: 20px;
}

.about p {
  max-width: 700px;
  margin: 10px auto;
  color: #444;
  line-height: 1.6;
}
